---
import WebSocketTest from '../components/WebSocketTest';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>WebSocket Test Page</title>
  </head>
  <body>
    <h1>WebSocket Implementation Test</h1>
    <WebSocketTest client:load />
    <!-- <SimpleWebSocketTest client:load /> -->
  </body>
</html> 